@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f1dc;
  --foreground: #710e20;
  --highlight: #8d4584;
  --playful-bright-1: #ff69b4;
  --playful-bright-2: #ffd700;
  --playful-bright-3: #32cd32;
  --electric-bright-1: #ff1493;
  --electric-bright-2: #00ff7f;
  --electric-bright-3: #ff4500;
  --neon-bright-1: #ff007f;
  --neon-bright-2: #00ff00;
  --neon-bright-3: #ffd700;
  --bold-bright-1: #ff00ff;
  --bold-bright-2: #00ffff;
  --bold-bright-3: #ffa500;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: covik-sans, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input,
select {
  background-color: transparent;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
}
select {
  border: 1px solid var(--foreground);
  padding: 0.2em 0.5em;
}
button {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--background);
  padding: 0.5em 1em;
  transition: 0.3s ease all;
}
button:hover {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
}
.nav-link {
  border-bottom: 2px solid transparent;
  transition: 0.3s ease all;
}
.nav-link:hover {
  border-bottom: 2px solid var(--background);
}
.page-title {
  font-size: 6em;
  font-weight: 800;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-strokewidth: 0.1625rem;
  -webkit-text-stroke-color: var(--foreground);
  -webkit-font-smoothing: subpixel-antialiased;
}

.color-0 {
  background-color: var(--playful-bright-1);
  filter: brightness(85%);
  opacity: 0.5;
}
.color-1 {
  background-color: var(--playful-bright-2);
  filter: brightness(85%);
  opacity: 0.5;
}
.color-2 {
  background-color: var(--playful-bright-3);
  filter: brightness(85%);
  opacity: 0.5;
}
.home-icon {
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
